{{ template "head" }}
<main>
	<section class="feeddata">
		{{ range $i := .Feed.Channel.Items}}
			* <a href="{{$i.Enclosure.Url}}">{{$i.Title}} ({{$i.Enclosure.Type}})</a> </br> 
		{{end}}
	</section>
</main>
{{ template "close" }}
