{{ template "head" }}
<main>
	<section>
		<h3>Add a new URL</h3>
		<form id="addurlform" name="addurlform" method="POST" action="/add">
			<input type="text" id="name" class="round" name="name" placeholder="Podcast Name">
			<br />
			<input type="url" id="newurl" class="round" name="newurl" placeholder="http://www.podcast.com/podcast"
			pattern="(http|https|ftp)\:\/\/[a-zA-Z0-9\-\_\.\/]*" />
			<button type="submit">Add</button>
		</form>
	</section>
	{{range $cast := .Casts}}
		<section class="feedcontainer round">
			<button class="bg-primary-0 color-primary-1" onclick="removeurl('{{$cast.Name}}')">Delete me</button>
			<button class="bg-primary-0 color-primary-1" onclick="getfeed('{{$cast.Num}}', '{{$cast.Name}}', 0)">Get More</button>
			<h4>{{$cast.Name}}</h4>
			<section id="{{$cast.Num}}" data-name="{{$cast.Name}}" class="feed">
			</section>
		</section>
	{{ end }}
</main>
{{ template "close" }}
