.color-primary-0 { color: #532B72 }	/* Main Primary color */
.color-primary-1 { color: #E1CAF2 }
.color-primary-2 { color: #9477AA }
.color-primary-3 { color: #2E054D }
.color-primary-4 { color: #210039 }

.bg-primary-0 { background-color: #532B72 }	/* Main Primary background-color */
.bg-primary-1 { background-color: #E1CAF2 }
.bg-primary-2 { background-color: #9477AA }
.bg-primary-3 { background-color: #2E054D }
.bg-primary-4 { background-color: #210039 }


body
{
	font-family: Calibri, sans-serif;
	font-size: 1.1em;
	margin-left: 5%;
	margin-top: 3%;
}
a {
	color: #9477AA;
}
a:hover {
	color: #ffffff;
}
.round {
	border-radius: 5px;
}
section, aside {
	margin: 5px;
	margin-top: 10px;
	padding: 5px;
}

h2,h3,h4,h5,h6 {
	margin: 0px;
	padding-bottom: 3px;
}
input[type="text"], input[type="url"] {
	background-color: #2E054D;
	color: #E1CAF2;
	padding: 3px;
}
button {
	margin: 2px;
	padding: 2px;
}
.feedcontainer {
	border: 2px solid #532B72;
}
.feedcontainer button {
	float: right;
}
